[Unit]
Description=iPerf Service
After=network.target

[Service]
Type=forking
PIDFile=/var/run/iperf3.pid
ExecStart=-/usr/bin/iperf3 -s -D -I /var/run/iperf3.pid
ExecReload=/usr/bin/kill -HUP $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
